@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #F4F2EF;
}

p {
  font-size: 1.2rem;
  text-align: justify;
}

h1 {
  font-size: 6rem;
  color: #fff;
  padding-top: 1.5rem;
}

.container-fondo {
  background-image: url("./images/sunset.jpg");
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 4;
 
  
}

.barra-busqueda {
  transform: translate(120%);
   width: 30%;
   padding-top: 5px;
}
